include LICENSE
include README.rst
include runtests.sh
include changelog.txt
exclude contribute.json
recursive-include django_nose *.py
recursive-include testapp *.py
recursive-include unittests *.py
